@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-normal;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Kaushan-Script;
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(../fonts/Roboto/Roboto-Italic.ttf);
}

/*elements with same style*/
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  white-space: nowrap;
  font-family: Montserrat-Bold;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #333333;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 39px;
}

.headerDesc {
  font-family: Kaushan-Script;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #333333;
  margin-bottom: 9px;
}

.decorLine {
  width: 62px;
  height: 5px;
  background-color: #f38181;
  margin-bottom: 35px;
}

.sectionDesc {
  text-align: center;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  max-width: 984px;
  width: 100%;
  padding-bottom: 100px;
}

header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  left: 0;
  right: 0;
  top: 15px;
  margin: auto auto;
}

header h1 {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
}

header nav a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  font-family: Montserrat-normal;
  margin-right: 28px;
  padding-bottom: 11px;
  border-bottom: solid 5px transparent;
}

header nav a:hover {
  border-bottom: solid 5px #fce38a;
}

header nav .shoppingCart {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  background-image: url(../ico/shoppingCart.svg);
  width: 20px;
  height: 20px;
}

header nav .shoppingCart:hover {
  border-bottom: solid 5px transparent;
}

header nav .searchIco {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../ico/SearchIco.svg);
  width: 20px;
  height: 20px;
}

header nav .searchIco:hover {
  border-bottom: solid 5px transparent;
}

.welcome {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181e6), to(#fce38ae6));
  background: linear-gradient(#f38181e6, #fce38ae6);
  padding-top: 213px;
  padding-bottom: 28px;
  width: 100%;
}

.welcome .welcomeCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .welcomeCenter h2 {
  font-family: Kaushan-Script;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 30px;
  color: #fff;
}

.welcome .welcomeCenter p {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  font-family: Montserrat-normal;
  font-weight: bolder;
  font-size: 150px;
  line-height: 140px;
  width: 100%;
  max-width: 842px;
  text-align: center;
}

.welcome .welcomeCenter button {
  margin-top: 170px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  font-family: Montserrat-normal;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  line-height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 155px;
}

.welcome .welcomeCenter .navElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.welcome .welcomeCenter .navElements .element {
  width: 100%;
  max-width: 282px;
  border-top: 5px solid #fff;
  padding-top: 12px;
}

.welcome .welcomeCenter .navElements .element p {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  line-height: 29px;
  font-size: 18px;
  font-weight: normal;
}

.welcome .welcomeCenter .navElements .element p span {
  font-weight: bolder;
  font-size: 24px;
}

.AboutUs {
  padding-top: 90px;
  margin-bottom: 107px;
}

.AboutUs .AboutUsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.AboutUs .aboutElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 107px;
}

.AboutUs .aboutElements .aboutElement {
  height: 252px;
  width: 382px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.AboutUs .aboutElements .EL1 {
  background-image: url(../img/abouJPG1.jpg);
  -webkit-box-shadow: 10px 10px #95e1d3;
          box-shadow: 10px 10px #95e1d3;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.AboutUs .aboutElements .EL1 .EL1Overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f38181e6), to(#fce38ae6));
  background-image: linear-gradient(#f38181e6, #fce38ae6);
}

.AboutUs .aboutElements .EL1 .EL1Overlay .teamIco {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../ico/team.svg);
  width: 35px;
  height: 26px;
  margin-bottom: 2px;
}

.AboutUs .aboutElements .EL1 .EL1Overlay p {
  font-family: Montserrat-Bold;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.AboutUs .aboutElements .EL2 {
  background-image: url(../img/abouJPG2.jpg);
  background-size: cover;
}

.AboutUs .aboutElements .EL3 {
  background-image: url(../img/abouJPG3.jpg);
  background-size: cover;
}

.companyStatistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #95e1d3;
  width: 100%;
  height: 273px;
  margin-bottom: 97px;
}

.companyStatistic .Stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 240px;
  width: 100%;
  height: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
}

.companyStatistic .Stat:last-of-type {
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}

.companyStatistic .Stat p:nth-child(1) {
  font-family: Montserrat-Bold;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  color: #fff;
}

.companyStatistic .Stat p:nth-child(2) {
  font-family: Montserrat-normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.workIco {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.clock {
  background-image: url(../ico/clock.svg);
}

.design {
  background-image: url(../ico/designe.svg);
}

.Creativity {
  background-image: url(../ico/creativity.svg);
}

.SEO {
  background-image: url(../ico/seo.svg);
}

.cssHtml {
  background-image: url(../ico/csssHtml.svg);
}

.digital {
  background-image: url(../ico/digital.svg);
}

.Work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 120px;
}

.Work .workTech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.Work .workTech .workElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 30px 50px 30px;
}

.Work .workTech .workElement .workDsc {
  padding-left: 25px;
}

.Work .workTech .workElement .workDsc h3 {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 10px;
}

.Work .workTech .workElement .workDsc p {
  font-family: Roboto-Regular;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  max-width: 270px;
}

.designsSection {
  margin: 0 auto;
  height: 852px;
  max-width: 1922px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../img/BG-design.jpg);
  background-size: cover;
  margin-bottom: 100px;
}

.designsSection .whiteOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: rgba(255, 255, 255, 0.85);
  width: inherit;
  height: inherit;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1922px;
  margin: 0 auto;
}

.service .serviceContent {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 100px;
}

.service .serviceContent .serviceVisualPhoto {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../img/serviceContent.jpg);
  background-size: cover;
  width: 48%;
  height: 397px;
}

.service .serviceContent .whatWeDO {
  width: 48%;
  height: 397px;
  background-color: #95e1d3;
}

.service .serviceCarousel {
  height: 292px;
  max-width: 1920px;
  width: 100%;
  background-color: #f8f8f8;
  margin-bottom: 100px;
}

.memberPhoto {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover;
  background-position: center;
}

.MatthewPhoto {
  background-image: url(../img/member1.jpg);
  background-position: left;
}

.ChristopherPhoto {
  background-image: url(../img/member2.jpg);
}

.MichaelPhoto {
  background-image: url(../img/member3.jpg);
}

.socIco {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 58px;
  height: 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: 50%;
}

.facebook {
  background-image: url(../ico/facebook.svg);
  background-size: 25%;
}

.facebook:hover {
  background-color: #f38181;
  background-image: url(../ico/facebook-hover.svg);
}

.twitter {
  background-image: url(../ico/twitter.svg);
}

.twitter:hover {
  background-color: #f38181;
  background-image: url(../ico/twitter-hover.svg);
}

.pinterest {
  background-image: url(../ico/pinterest.svg);
}

.pinterest:hover {
  background-color: #f38181;
  background-image: url(../ico/pinterest-hover.svg);
}

.instagram {
  background-image: url(../ico/instagram.svg);
}

.instagram:hover {
  background-color: #f38181;
  background-image: url(../ico/instagram-hover.svg);
}

.teamSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.teamSection .teamMembers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 116px;
  max-width: 1200px;
  width: 100%;
  /*remove margin from last team member*/
}

.teamSection .teamMembers .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.teamSection .teamMembers .member .memberPhoto {
  width: 382px;
  height: 472px;
  background-color: #95e1d3;
  margin-bottom: 40px;
}

.teamSection .teamMembers .member .memberPhoto .memberOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  width: inherit;
  height: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181e6), to(#fce38ae6));
  background: linear-gradient(#f38181e6, #fce38ae6);
}

.teamSection .teamMembers .member .memberPhoto .memberOverlay .memberSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fce38a;
}

.teamSection .teamMembers .member .memberPhoto:hover .memberOverlay {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.teamSection .teamMembers .member .memberPhoto:hover {
  -webkit-box-shadow: 10px 10px #95e1d3;
          box-shadow: 10px 10px #95e1d3;
}

.teamSection .teamMembers .member:nth-last-child(1) {
  margin-right: 0;
}

.teamSection .teamMembers h3 {
  font-family: Montserrat-normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.teamSection .teamMembers p {
  font-family: Roboto-Italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.teamSection .teamAwards {
  width: 100%;
  background-color: #f8f8f8;
  padding: 60px 0;
}

.teamSection .teamAwards .withContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.teamSection .teamAwards .withContainer .AwardLogo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 120px;
  height: 120px;
}

.teamSection .teamAwards .withContainer .starBuck {
  background-image: url(../ico/Starbucks_Coffee_Logo.svg.png);
}

.teamSection .teamAwards .withContainer .placeholder1 {
  background-image: url(../ico/placeholderImage.png);
}

.teamSection .teamAwards .withContainer .placeholder2 {
  background-image: url(../ico/text-shape-padding.png);
}

.whatWeDoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.whatWeDoSection .WorkGallery {
  height: 780px;
  max-width: 1922px;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "grid1 grid2 grid3 grid4" "grid5 grid6 grid3 grid7";
  grid-gap: 1px;
}

.whatWeDoSection .WorkGallery .galleryPhoto .overlay {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181e6), to(#fce38ae6));
  background: linear-gradient(#f38181e6, #fce38ae6);
}

.whatWeDoSection .WorkGallery .galleryPhoto .overlay .galleryIcon {
  background-image: url(../ico/galleryPhoto.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  margin-bottom: 12px;
}

.whatWeDoSection .WorkGallery .galleryPhoto .overlay h4 {
  font-family: Montserrat-normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
  color: #fff;
}

.whatWeDoSection .WorkGallery .galleryPhoto .overlay p {
  font-family: Roboto-Italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.whatWeDoSection .WorkGallery .galleryPhoto:hover .overlay {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.whatWeDoSection .WorkGallery .workPhoto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid1;
  background-image: url(../img/WorkGallery/photo1.jpg);
  background-position: bottom;
}

.whatWeDoSection .WorkGallery .workPhoto2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: grid2;
  background-image: url(../img/WorkGallery/photo2.jpg);
  background-position: center;
}

.whatWeDoSection .WorkGallery .workPhoto3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: grid3;
  background-image: url(../img/WorkGallery/photo3.jpg);
  background-position: center;
}

.whatWeDoSection .WorkGallery .workPhoto4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: grid4;
  background-image: url(../img/WorkGallery/photo4.jpg);
}

.whatWeDoSection .WorkGallery .workPhoto5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: grid5;
  background-image: url(../img/WorkGallery/photo5.jpg);
}

.whatWeDoSection .WorkGallery .workPhoto6 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: grid6;
  background-image: url(../img/WorkGallery/photo6.jpg);
}

.whatWeDoSection .WorkGallery .workPhoto7 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: grid7;
  background-image: url(../img/WorkGallery/photo7.jpg);
}
/*# sourceMappingURL=main.css.map */