.ico20 {
  color: white;
  width: 20px;
  height: 20px;
  background: center no-repeat;
  background-size: contain;
  display: block;
}
.ico17 {
  width: 17px;
  height: 17px;
  background: center no-repeat;
  background-size: contain;
  display: block;
}
.facebook {
  background-image: url(../icon/facebook-square-brands.svg);
}
.facebook:hover {
  background-image: url(../icon/facebook-square-brands_color.svg);
}
.twitter {
  background-image: url(../icon/twitter-square-brands.svg);
}
.twitter:hover {
  background-image: url(../icon/twitter-square-brands_color.svg);
}
.google {
  background-image: url(../icon/google-plus-square-brands.svg);
}
.google:hover {
  background-image: url(../icon/../icon/google-plus-square-brands_color.svg);
}
.instagram {
  background-image: url(../icon/instagram-square-brands.svg);
}
.instagram:hover {
  background-image: url(../icon/../icon/instagram-brands.png);
}
.linkin {
  background-image: url(../icon/linkedin-brands.svg);
}
.youtube {
  background-image: url(../icon/youtube-brands.svg);
}
.download_ico {
  background: center no-repeat;
  background-size: contain;
  display: block;
  background-position: center;
  background-image: url(../icon/cloud-download-alt-solid.svg);
  width: 20px;
  height: 20px;
}
form > div label {
  background: center no-repeat;
  background-size: contain;
  display: block;
  width: 24px;
  height: 24px;
}
.login_input_name label {
  background-image: url(../icon/user-circle-solid.svg);
}
.login_input_email label {
  background-image: url(../icon/mail.svg);
}
.login_input_password label {
  background-image: url(../icon/lock.svg);
}
html {
  height: 100%;
}
input:focus,
textarea:focus {
  outline: none;
}
.tim {
  margin-left: 15px;
  line-height: 70px;
  font-size: 18px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .tim {
    margin-left: 30px;
  }
}
@media (min-width: 1440px) {
  .tim {
    margin-left: 150px;
  }
}
.nav {
  background-color: #00000066;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 1440px) {
  .nav {
    max-width: 1140px;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 15px;
  }
}
.nav .nav_menu {
  background-image: url(../icon/bars-solid.svg);
  width: 22px;
  height: 14px;
  margin-left: auto;
  margin-right: 15px;
  -ms-flex-item-align: center;
  align-self: center;
}
.nav .nav_menu .comp {
  -ms-flex-item-align: center;
  align-self: center;
  line-height: 20px;
}
@media (min-width: 768px) {
  .nav .nav_menu .comp {
    margin-right: 30px;
  }
}
@media (min-width: 768px) {
  .nav .nav_menu {
    margin-right: 30px;
    background-image: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@media (min-width: 1440px) {
  .nav .nav_menu {
    margin-right: 150px;
  }
}
.nav .nav_menu .nav_menu_dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  float: right;
  -webkit-transform: translateY(14px);
  -ms-transform: translateY(14px);
  transform: translateY(14px);
  padding: 10px 10px 0;
}
@media (min-width: 768px) {
  .nav .nav_menu .nav_menu_dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: unset;
    float: unset;
    padding: 0;
  }
}
.nav .nav_menu .nav_menu_dropdown a,
.nav .nav_menu .nav_menu_dropdown div {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .nav .nav_menu .nav_menu_dropdown a,
  .nav .nav_menu .nav_menu_dropdown div {
    margin-bottom: 0;
  }
}
.nav .nav_menu .download div,
.nav .nav_menu .comp {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}
.nav .nav_menu .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 20px;
}
@media (min-width: 768px) {
  .nav .nav_menu .download {
    margin-right: 30px;
  }
}
.nav .nav_menu .download div:last-of-type {
  margin-left: 5px;
}
.nav .nav_menu .nav_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 102px;
  margin-bottom: 0;
}
.nav .nav_menu:hover .nav_menu_dropdown {
  background-color: #00000050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .nav .nav_menu:hover .nav_menu_dropdown {
    background-color: transparent;
  }
}
.footer {
  max-width: 1140px;
  padding-bottom: 27px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 33px;
  }
}
.footer .footer_links {
  margin-left: 29px;
}
@media (min-width: 768px) {
  .footer .footer_links {
    margin-left: 39px;
  }
}
@media (min-width: 1440px) {
  .footer .footer_links {
    margin-left: 160px;
  }
}
.footer .footer_links a {
  margin-right: 34px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}
.footer p {
  display: block;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 10px;
  color: #ffffff;
}
@media (min-width: 1440px) {
  .footer p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0;
    margin-right: 160px;
    text-align: right;
    line-height: 18px;
  }
}
.ico70 {
  width: 70px;
  height: 70px;
  background: center no-repeat;
  background-size: contain;
  display: block;
}
.f1_ico {
  background-image: url(../icon/1th_feature.svg);
}
.f2_ico {
  background-image: url(../icon/2th_feature.svg);
}
.f3_ico {
  background-image: url(../icon/3th_feature.svg);
}
.ico30 {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.studio_icon {
  background-image: url(../icon/studio.png);
}
.work_icon {
  background-image: url(../icon/work.png);
}
.favorite_icon {
  background-image: url(../icon/heart.png);
}
.btn {
  background: #9c27b0;
  -webkit-box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
  box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
  border-radius: 3px;
  border: none;
  line-height: 41px;
  font-size: 12px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.instagram_grey {
  background-image: url(../icon/instagram-brands_gray.svg);
}
.instagram_grey:hover {
  background-image: url(../icon/instagram-brands.png);
}
.facebook_grey {
  background-image: url(../icon/facebook-f-brands_gray.svg);
}
.facebook_grey:hover {
  background-image: url(../icon/facebook-f-brands.svg);
}
.twitter_grey {
  background-image: url(../icon/twitter-brands_gray.svg);
}
.twitter_grey:hover {
  background-image: url(../icon/twitter-brands.svg);
}
.linkin_grey {
  background-image: url(../icon/linkedin-in-brands_grey.svg);
}
.linkin_grey:hover {
  background-image: url(../icon/linkedin-in-brands.svg);
}
.google_grey {
  background-image: url(../icon/google-plus-g-brands_gray.svg);
}
.google_grey:hover {
  background-image: url(../icon/google-plus-g-brands.svg);
}
.youtube_grey {
  background-image: url(../icon/youtube-brands_gray.svg);
}
.youtube_grey:hover {
  background-image: url(../icon/youtube-brands.svg);
}
.member_avatar {
  background: center no-repeat;
  background-size: contain;
  display: block;
}
.user1 {
  background-image: url(../img/user1.jpg);
}
.user2 {
  background-image: url(../img/user2.jpg);
}
.user3 {
  background-image: url(../img/user3.jpg);
}
.videoMenu {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  background-color: rgba(38, 42, 46, 0.637);
  width: 100%;
  height: 100%;
}
.videoMenu .closeBtn {
  margin-right: 5%;
  margin-left: auto;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  background-image: url(../icon/close-cross.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}
.videoMenu iframe {
  width: 90%;
  height: 90%;
}
