<div class="nav">
    <div class="tim">Creative Tim</div>
    <div class="nav_menu">
        <div class="nav_menu_dropdown">
            <a href="#" class="comp">COMPONENTS</a>
            <div class="download">
                <div class="download_ico"></div>
                <div>DOWNLOAD</div>
            </div>
            <div class="nav_social">
                <a href="#" class="facebook ico20"></a>
                <a href="#" class="ico20 twitter"></a>
                <a href="#" class="ico20 instagram"></a>    
            </div>
        </div>
    </div>
</div>
