@import url(restart.css);
@import url(bootstrap.css);
.done_t {
  -webkit-text-decoration: double line-through var(--danger);
          text-decoration: double line-through var(--danger);
}

.ico {
  width: 30px;
  height: 30px;
}

.del {
  background-image: url(../ico/trash-alt-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}

.done {
  background-image: url(../ico/clipboard-check-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}

.btn {
  white-space: nowrap;
}

button:focus {
  outline: none;
  border: 5px auto;
}

/*elements*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

main nav {
  width: 100%;
}

@media (min-width: 768px) {
  main nav {
    width: 768px;
  }
}

main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dee2e6;
  border-top: none;
  padding: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  main .content {
    width: 768px;
  }
}

main .content .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .add input {
  margin-left: 10px;
  margin-right: 10px;
}

main .content .output {
  margin-top: 10px;
}

/*single edit*/
header, footer, main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  font-size: 20px;
  margin-right: 10px;
}

.table {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

@media (min-width: 768px) {
  .table {
    display: table;
    width: 100%;
  }
}

.list-group li {
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
}

#editOutputLoc tr .td {
  width: 134px;
  padding: 0;
  vertical-align: middle;
}

#editOutputLoc tr .td td {
  padding: 0;
  padding-left: 10px;
  vertical-align: middle;
}

#editOutputLoc tr .td select {
  margin: 0;
  padding-left: 0;
}

@media (max-width: 768px) {
  .output {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.output .taskItem {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: 1px solid #dee2e6;
  padding: 5px;
  margin: 5px;
}

@media (max-width: 768px) {
  .output .taskItem {
    display: block;
  }
}

.output .taskItem div {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 38px;
}

.output .taskItem .taskMobile, .output .taskItem .typeMobile {
  text-align: right;
}

.output .taskItem .taskMobile div, .output .taskItem .typeMobile div {
  white-space: pre-line;
}

.output .taskItem .taskMobile input, .output .taskItem .taskMobile select, .output .taskItem .typeMobile input, .output .taskItem .typeMobile select {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 38px;
  width: 100px;
}

.output .taskItem .taskControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */