@import url(restart.css);
@import url(bootstrap.css);

@mixin background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@mixin flexInline {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@mixin flexColum {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.done_t {
    text-decoration: double line-through var(--danger);
}
.ico {
    width: 30px;
    height: 30px;
}
.del {
    background-image: url(../ico/trash-alt-solid.svg);
    @include background();
    margin: auto;
}
.done {
    background-image: url(../ico/clipboard-check-solid.svg);
    @include background();
    margin: auto;
}
.btn {
    white-space: nowrap;
}
button:focus {
    outline: none;
    border: 5px auto;
}
body {
    width: 100%;
    height: 100vh;
    min-width: 410px;
}
/*elements*/
main {
    @include flexColum();
    width: 100%;
    margin: 0 auto;
    nav {
        width: 100%;
        @media (min-width: 768px) {
            width: 768px;
        }
        ul {
            @include flexInline();
            justify-content: center;
            width: 100%;
        }
    }
    .content {
        @include flexColum();
        border: 1px solid #dee2e6;
        border-top: none;
        padding: 10px;
        width: 100%;
        @media (min-width: 768px) {
            width: 768px;
        }
        .add {
            @include flexInline();
            input {
                margin-left: 10px;
                margin-right: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .output {
            margin-top: 10px;
        }
    }
    margin-bottom: 40px;
}
/*structure edit*/
header,
footer,
main {
    display: flex;
    justify-content: center;
}
h3 {
    font-size: 20px;
    margin-right: 10px;
}
.table {
    width: max-content;
    display: none;
    @media (min-width: 768px) {
        display: table;
        width: 100%;
    }
}
.list-group li {
    display: list-item;
    list-style-type: decimal;
    list-style-position: inside;
}
/*single edit*/
.cards {
    display: none;
    @media (max-width: 768px) {
        @include flexInline();
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .taskItem {
        width: 234px;
        border: 1px solid rgb(222, 226, 230);
        background-color: rgb(239, 239, 239);
        padding: 5px;
        margin: 5px;
        div:nth-child(3),
        div:nth-child(4) {
            text-align: center;
        }
        @media (min-width: 768px) {
            display: none;
        }
        div:nth-child(3) {
            color: var(--dark);
            font-weight: bold;
        }
        .taskMobile {
            p {
                color: var(--dark);
                font-weight: bold;
            }
            input,
            div {
                background-color: #fff;
                border: 1px solid rgb(222, 226, 230);
                width: 220px;
                height: 54px;
                line-height: 54px;
                text-align: left;
                padding-left: 10px;
            }
        }
        .typeMobile {
            p {
                color: var(--dark);
                font-weight: bold;
            }
            input,
            div,
            select {
                background-color: #fff;
                padding-left: 0;
                border: 1px solid rgb(222, 226, 230);
                width: 100%;
                line-height: 54px;
                height: 54px;
                text-align: left;
                text-indent: 10px;
            }
        }
        .taskControls {
            @include flexInline();
            padding: 5px;
        }
    }
}
/*mobile edit page*/
.table {
    tbody {
        tr {
            padding: 0;
            margin: 0;
            height: 60px;
            th {
                font-weight: bold;
            }
            td {
                vertical-align: middle;
                padding: 0;
            }
            td:nth-child(2) {
                width: 170px;
                select {
                    width: 150px;
                    margin: 0;
                    margin-left: -5px;
                    padding: 0;
                    color: #495057;
                    background-color: #fff;
                    border: none;
                    outline: red solid 2px;
                    box-shadow: none;
                }
            }
            td:nth-child(3) {
                width: 170px;
                input {
                    border: none;
                    width: 150px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    margin-top: -1px;
                    &:focus {
                        outline: red solid 2px;
                        outline-offset: 4px;
                    }
                }
            }
            .form-control {
                text-align: center;
            }
        }
    }
}
/*table edit page*/
.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(124, 125, 126, 0.69);
    .warningEmpty {
        border: 1px solid rgb(222, 226, 230);
        background-color: #fff;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border-radius: 5px;
        h3 {
            color: var(--danger);
        }
        p {
            font-weight: bold;
        }
    }
}
/*warning field*/
