@import url(restart.css);
@import url(bootstrap.css);

@mixin background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@mixin flexinline {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.done_t{
    text-decoration: line-through var(--danger);
}
.ico{
    width: 30px;
    height: 30px;
}
.del{
    background-image: url(../ico/trash-alt-solid.svg);
    @include background();
    margin: auto;
}
.done{
    background-image: url(../ico/clipboard-check-solid.svg);
    @include background();
    margin: auto;
}
/*elements*/

.add{
    @include flexinline();
    justify-content:space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    select{
        max-width: max-content;
    }
    input{
        margin-left: 10px;
        margin-right: 10px;
    }
}
header, footer,main{
    display: flex;
    justify-content: center;
}
table{
    width: 100%;
    border: #000000 2px ridge;
    thead{
        background-color: var(--dark);
        color: #ffffff;
    }
    tbody{
        background-color: var(--gray);
    }
}
tr, th{
    text-align: center;
    vertical-align: middle;
    padding-right: 10px;
}
h2{
    text-align: center;
}