@import url(restart.css);
@import url(bootstrap.css);
.done_t {
  -webkit-text-decoration: double line-through var(--danger);
          text-decoration: double line-through var(--danger);
}

.ico {
  width: 30px;
  height: 30px;
}

.del {
  background-image: url(../ico/trash-alt-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}

.done {
  background-image: url(../ico/clipboard-check-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}

.btn {
  white-space: nowrap;
}

button:focus {
  outline: none;
  border: 5px auto;
}

body {
  width: 100%;
  height: 100vh;
  min-width: 410px;
}

/*elements*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

main nav {
  width: 100%;
}

@media (min-width: 768px) {
  main nav {
    width: 768px;
  }
}

main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dee2e6;
  border-top: none;
  padding: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  main .content {
    width: 768px;
  }
}

main .content .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .add input {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

main .content .output {
  margin-top: 10px;
}

/*structure edit*/
header,
footer,
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  font-size: 20px;
  margin-right: 10px;
}

.table {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

@media (min-width: 768px) {
  .table {
    display: table;
    width: 100%;
  }
}

.list-group li {
  display: list-item;
  list-style-type: decimal;
  list-style-position: inside;
}

/*single edit*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  87% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  93% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  87% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  93% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.cards {
  display: none;
}

@media (max-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.cards .card {
  margin: 10px;
  max-width: 200px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cards .card .card-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card .card-header .cardI {
  font-weight: bold;
  font-size: 20px;
}

.cards .card .card-header .cardTime {
  font-size: 15px;
  margin-left: auto;
}

.cards .card .card-body .cardTask:focus {
  background-image: url(../ico/marker-solid.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2px;
  color: var(--light);
}

.cards .card .card-body .cardTask,
.cards .card .card-body input {
  font-size: 20px;
  height: 30px;
  margin-bottom: 20px;
  width: 100%;
  margin: 10px 0 40px 0;
  padding: 0;
  border: none;
  color: var(--light);
  text-align: left;
  background-color: transparent;
}

.cards .card .card-body .cardTask:focus,
.cards .card .card-body input:focus {
  background-image: url(../ico/marker-solid.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  outline: 0;
}

.cards .card .card-body p,
.cards .card .card-body select,
.cards .card .card-body option {
  height: unset;
  font-size: 20px;
  height: 30px;
  vertical-align: middle;
  margin-bottom: 20px;
  padding: 0;
  text-align: left;
  border: none;
}

.cards .card .taskControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card .taskControls .done:hover {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

/*mobile edit page*/
.table tbody tr {
  padding: 0;
  margin: 0;
  height: 60px;
}

.table tbody tr th {
  font-weight: bold;
}

.table tbody tr td {
  vertical-align: middle;
  padding: 0;
}

.table tbody tr td:nth-child(2) {
  width: 170px;
}

.table tbody tr td:nth-child(2) select {
  width: 150px;
  margin: 0;
  margin-left: -5px;
  padding: 0;
  color: #495057;
  background-color: #fff;
  border: none;
  outline: red solid 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.table tbody tr td:nth-child(3) {
  width: 170px;
}

.table tbody tr td:nth-child(3) input {
  border: none;
  width: 150px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: -1px;
}

.table tbody tr td:nth-child(3) input:focus {
  outline: red solid 2px;
  outline-offset: 4px;
}

.table tbody tr .form-control {
  text-align: center;
}

/*table edit page*/
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(124, 125, 126, 0.69);
}

.overlay .warningEmpty {
  border: 1px solid #dee2e6;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.overlay .warningEmpty h3 {
  color: var(--danger);
}

.overlay .warningEmpty p {
  font-weight: bold;
}

/*warning field*/
/*# sourceMappingURL=style.css.map */