body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.score_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 183, 255);
    width: 500px;
    height: 250px;
    margin-top: 50px;
    padding: 1%;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 450px;
}
.ico_fail{
    display: block;
    background-image: url(../ico/user-faill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    width: 60px;
    height: 60px;
}
.ico_success{
    display: block;
    background-image: url(../ico/user-graduate.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    width: 60px;
    height: 60px;
}