body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.score_container{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 183, 255);
    width: 500px;
    height: max-content;
    margin-top: 50px;
    padding: 1%;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.score p{
    align-items: flex-end;
}
.score p:nth-child(1){
    margin-left: 40%;
    align-self: flex-start;
}
input{
    width: 450px;
    margin-top: 10px;
}
.emoji{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 450px;
}
.emoji div{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 20%;
}
.emoji1{
    background-image: url(../ico/score1.svg);
}.emoji2{
    background-image: url(../ico/score2.svg);
}.emoji3{
    background-image: url(../ico/score3.svg);
}.emoji4{
    background-image: url(../ico/score4.svg);
}.emoji5{
    background-image: url(../ico/score5.svg);
}.emoji6{
    background-image: url(../ico/score6.svg);
}.emoji7{
    background-image: url(../ico/score7.svg);
}.emoji8{
    background-image: url(../ico/score8.svg);
}.emoji9{
    background-image: url(../ico/score9.svg);
}.emoji10{
    background-image: url(../ico/score10.svg);
}
.ico_fail{
    display: block;
    background-image: url(../ico/user-faill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    width: 60px;
    height: 60px;
}
.ico_success{
    display: block;
    background-image: url(../ico/user-graduate.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    width: 60px;
    height: 60px;
}