@import url(restart.css);
$baseDark: #434c5e;
$secondLithe: #434c5e7c;
@mixin btn {
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: $secondLithe;
  line-height: 30px;
  padding: 0 15px;
  margin: 0 5px;
  &:hover {
    box-shadow: 0 0 10px $secondLithe;
  }
  &:focus {
    outline: none;
  }
}
.App-header {
  display: block;
  padding: 40px;
  background-color: $baseDark;
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
  }
  * {
    text-align: center;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: fit-content;
    button {
      @include btn;
      margin-top: 10px;
    }
  }
  .definedContent {
    max-width: 500px;
    width: 90%;
    border: 2px solid $secondLithe;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;

    .smallContainer {
      width: 100%;
      text-align: center;
      background-color: $secondLithe;
      line-height: 20px;
      border-radius: 5px;
      padding: 2px;
    }
    p {
      text-align: center;
    }
    .UlClass {
      margin: 10px 5%;
      list-style: circle;
      list-style-position: inside;
    }
  }
}
footer {
  display: flex;
  background-color: $secondLithe;
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  .contactInfo {
    align-self: flex-start;
    justify-content: space-between;
    min-width: 215px;
    max-width: 250px;
    width: 100%;
    div {
      white-space: nowrap;
      *:nth-child(1) {
        font-weight: bold;
      }
      *:nth-child(2) {
        margin-left: auto;
      }
      display: flex;
      text-align: start;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

/* main style*/
/*elements*/
