.btn{
    height: 40px;
    background-color: #8d8f8f;
    text-align: center;
    padding: 0 2px 0 2px;
    border-right: none;
    border-left: none;
    margin: 5px;
    box-shadow: 0px 0px 15px 3px #000000bf;

}
.table{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px ridge black;
}
.doors{
    background-image: url(../ico/door.png);
    background-repeat: space;
    background-size: contain;
    align-self: flex-start;
    width: 100%;
    height: 100%;
}
.drawers{
    width: 100%;
    background-image: url(../ico/drawer.svg);
    background-size: contain;
    background-repeat: space;
    height: 15px;
    border: 1px ridge black;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.LsideBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middle{
    display: flex;
    flex-direction: row;
}
footer, header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drawerSelect{
    margin-top: 5px;
    margin-bottom: 50px;
}
.selection{
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
    margin-left: 5px;
    box-shadow: 0px 0px 15px 3px #000000bf;

}
.optionContainer div{
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.selection .optionContainer{
    display: none;
}
.selection:hover > .optionContainer{
    display: block;
    position: absolute;
}

.texture1{
    background-image: url(../ico/texture1.jpeg);
}.texture2{
    background-image: url(../ico/texture2.jpg);
}.texture3{
    background-image: url(../ico/texture3.jpg);
}