@import "global/variables";

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// TODO: fix
@mixin tablet {
  @media (min-width: #{$handheld}) {
    @content;
  }
}
@mixin pc {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin background {
  background: center no-repeat;
  background-size: contain;
  display: block;
}
@mixin label_size {
  width: 24px;
  height: 24px;
}
@mixin nav_font {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}
