$handheld: 786px;
$desktop: 1440px;

$screen-md-min: 768px;
$screen-lg-min: 1440px;

// TODO: colors
$primary: #9C27B0;
$secondary: #03A9F4;

$black: #333333;
$lightBlack: #3C4858;

$darkGray: #999999;
$gray: #CCCCCC;
$lightGray: #D2D2D2;

$danger: #F44336;