$handheld: 786px;
$desktop: 1440px;

$screen-md-min: 768px;
$screen-lg-min: 1440px;

// colors
$primary: #9c27b0;
$secondary: #03a9f4;

$black: #333333;
$lightBlack: #3c4858;
$lightBlackTransparent: #3c485898;

$darkGray: #999999;
$gray: #cccccc;
$lightGray: #d2d2d2;

$danger: #f44336;
