body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  #bdbdbd;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
}
.inputs input{
    margin: 20px 5px 20px 5px;
}
.prodList{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.btn{
    background-color: rgb(1, 90, 255);
    color: #fff;
    font-size: 20px;
    border: none;
    line-height: 40px;
    border-radius: 20px;
    padding: 0 20px 0 20px;
    height: min-content;
    margin: 5px auto 0 auto;
}
.bnt :hover{
    box-shadow: 2px 2px 2px black;
}
main{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(131, 170, 255);
    border-radius: 10px;
}
.list li{
     list-style-type: decimal;
     line-height: 30px;
     margin-right: 10px;
}